# Compiled Object files
*.slo
*.lo
*.o
*.ko
*.obj
*.elf

# Compiled Dynamic libraries
*.so
*.dylib
*.so.*
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# directories used by projects
.clang/
.codelite/
bin/
obj/
Debug/
Release/

# project files of some kind
*.depend
*.layout
*.mk

# analyser files
CppCheckResults.xml